<div class="container">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-8 mt-5">
        <h3 class="card-title">Card title-1</h3>
        <br>
        <img class="card-img-top rounded" src="../../assets/images/1.jpg" alt="Card image cap">
        <br><br>
        <p class="card-text text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus animi
          consectetur amet cum molestiae, fuga dicta mollitia magnam expedita nostrum. Dolorem numquam, culpa ipsum
          debitis blanditiis quasi laudantium sit corrupti adipisci explicabo dolor ratione cum, modi unde molestias
          repellendus molestiae eligendi dolorum sint? Delectus pariatur explicabo autem quos repellat maxime
          exercitationem reiciendis eum nesciunt veritatis placeat sunt a, magni quam, magnam doloribus ex, aperiam
          velit ipsa consectetur! Libero facilis minima inventore maiores obcaecati veritatis, ratione debitis corrupti
          molestiae voluptatem nesciunt enim. Dignissimos ipsam molestias, officiis vero rerum quasi! Numquam sed
          maiores quia accusantium provident pariatur voluptates quas alias voluptatum ratione quos hic minus,
          praesentium consequatur ipsum quae doloremque sapiente debitis laborum ab. Deserunt fugit reprehenderit fugiat
          reiciendis rem distinctio quidem, hic quasi eaque quod quibusdam sit officiis delectus molestias suscipit?
          Itaque tenetur blanditiis et dolorem nulla dicta voluptas, molestiae magnam voluptate culpa laudantium ut illo
          quas saepe cum tempora vitae! Fugiat
          .</p>
        <div>
          <p><b>Omkar Pawar</b></p> <span class="text-primary">09 June 2022</span>
        </div>


      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 mb-5">
        <div class="card">
          <a routerLink="../details"> <img class="card-img-top" src="../../assets/images/1.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="../details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card">
          <a routerLink="../details"> <img class="card-img-top" src="../../assets/images/2.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="../details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card">
          <a routerLink="../details"> <img class="card-img-top" src="../../assets/images/3.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="../details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
