<div class="container mt-5">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 mb-5" >
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/1.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-1</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/2.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-2</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/3.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-3</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/4.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-4</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/5.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-5</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/6.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-6</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/7.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-7</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/8.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-8</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/9.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-9</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4  mb-5">
        <div class="card" style="width: 18rem;">
          <a routerLink="details"> <img class="card-img-top" src="../../assets/images/10.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <h5 class="card-title">Card title-10</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <p>Author:- <b>Omkar Pawar</b></p>
            <p class="text-primary">09 June 2022</p>

            <a routerLink="details" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
